div {
  width: 100%;
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  margin: 0 80px;
}

.title-container {
  margin: 55px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 51px;
  line-height: 44px;
  margin: 0px;
  white-space: nowrap;
  letter-spacing: -1.07px;
}

.cart-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 9px;
}

.cart-btn {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.cart-btn:hover {
  color: #407FC0;
}

.cart-btn:hover #cart-icon {
  fill: #407FC0;
}

.cart-btn:disabled {
  opacity: 0.3;
}

.cart-btn:disabled #cart-icon {
  opacity: 0.3;
}

.cart-btn-contents {
  padding-left: 8px;
  font-size: 14px;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: unset;
  margin: 0px 50px;
}

.cart-title {
  font-size: 38px;
  color: #000;
  line-height: 32px;
  letter-spacing: -0.8px;
}

.cart-divider {
  margin: 26px 0px 0px 0px;
  border-bottom: 1px solid #E8E8E8;
}

.cart-contents-container {
  display: flex;
  margin-top: 21px;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  flex: 6;
  margin-right: 15px;
  overflow: scroll;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-height: 180px;
}

.cart-item-image {
  object-fit: cover;
  max-width: 165px;
  max-height: 120px;
  width: auto;
  height: auto;
}

.cart-item-details-container {
  display: flex;
}

.cart-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3px 0px 3px 15px;
}

.cart-item-title {
  font-size: 20px;
}

.cart-item-price {
  margin-top: 5px;
  font-size: 16px;
}

.cart-item-remove-btn {
  color: #CC1D39;
  cursor: pointer;
}

.cart-item-remove-btn:hover {
  color: #eb7588;
}

.cart-item-quantity-container {
  margin-top: 20px;
}

.cart-checkout-container {
  flex: 4;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.cart-summary-container {
  font-size: 17px;
}

.cart-subtotal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

.cart-taxes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid #E8E8E8;
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.summary-item-title {
  color: #9D9D9D;
}

.summary-item-price {
  color: #2A2A2A;
}

#checkout-btn {
  width: 100%;
  margin-top: 50px;
}

#checkout-btn-modal {
  display: none;
}

.empty-cartmsg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 25px;
}

.empty-cartmsg-text {
  font-size: 21px;
  color: #919191;
  letter-spacing: -0.44px;
  line-height: 28px;
  text-align: center;
  max-width: 250px;
  margin-top: 25px;
}

.title-divider {
  margin: 34px 0px 0px 0px;
  border-bottom: 1px solid #DADADA;
}

.product-list {
  margin-bottom: 50px;
}

.product-item {
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 29px;
  max-height: 282px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 37px 0px 0px 56px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details-title-wrapper {
  display: flex;
  align-items: center;
}

.product-image {
  object-fit: cover;
  max-width: 43.39%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.product-title {
  font-size: 38px;
  height: 43px;
  letter-spacing: -0.41px;
}

.product-price {
  display: flex;
  justify-content: flex-end; 
  font-size: 21px;
  height: 23px;
  padding-right: 12.55%;
  letter-spacing: -0.27px;
}

.product-inventory {
  height: 15px;
  font-size: 13px;
  color: #939393;
  padding-top: 19px;
  text-transform: uppercase;
}

.product-add-btn {
  margin-bottom: 40px;
}

.primary-btn {
  width: 139px;
  height: 41px;
  border-radius: 100px;
  background: #5E97D1;
  border-style: none;
  font-size: 14px;
  letter-spacing: -0.15px;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 0px 0px 0px;
}

.primary-btn:disabled {
  opacity: 0.3;
}

.primary-btn:hover {
  background: #407FC0;
}

.modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 14px;
  max-width: 780px;
  height: 678px;
  margin: 100px auto 0px auto;
  padding: 29px;
  border: 1px solid #E1E1E1;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.17);
}

.modal-open {
  overflow: hidden; 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(9,9,9, 0.09), rgba(9,9,9, 0.09)), #F2F4F7;
  padding: 50 px;
  z-index: 1;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.modal-close-btn {
  cursor: pointer;
}

.quantity-display {
  display: flex;
}

.quantity-display-text {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 96px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  font-size: 14px;
  letter-spacing: -0.59px;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  color: #8E939C;
  height: 40px;
  width: 95px;
  border: unset;
  padding: 0px 0px 0px 0px;
}

.quantity-btn:hover {
  background: #5E97D1;
  color: #FFF;
}

.quantity-btn:hover #minus-icon {
  stroke: #FFF;
}

.quantity-btn:hover #plus-icon {
  stroke: #FFF;
}

.quantity-btn:disabled {
  background: #F9F9F9;
  color: #DEDEDE;
}

.quantity-btn:disabled #minus-icon {
  stroke: #DEDEDE;
}

.quantity-btn:hover #plus-icon {
  stroke: #FFF;
}

.minus-btn {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-left: 4px;
}

.plus-btn {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-right: 4px;
}

@media (max-width: 900px) {
  .inner-container {
    margin: 0 52px;
  }

  .title {
    font-size: 38px;
    letter-spacing: -0.8px;
  }

  .title-container {
    margin: 43px 0px 0px 0px;
  }

  .cart-btn-container {
    padding-top: unset;
  }

  .cart-btn-contents {
    padding-left: 8px;
    font-size: 14px;
  }

  .title-divider {
    margin: 25px 0px 0px 0px;
  }

  .product-details-container {
    margin: 27px 38px;
  }

  .product-title {
    font-size: 28px;
    height: 31px;
    letter-spacing: -0.3px;
  }

  .product-price {
    padding-right: unset;
  }

  .product-inventory {
    font-size: 12px;
    letter-spacing: 0.86px;
    padding-top: 11px; 
  }

  .product-item {
    max-height: 196px;
    margin-top: 25px;
  }

  .product-add-btn {
    margin-bottom: unset;
  }

  .product-image {
    max-width: 40.12%;
  }

  .modal {
    margin-top: 60px;
  }

  .cart {
    margin: 0px 18px;
  }

  .cart-item-image {
    max-width: 137px;
    max-height: 100px;
  }
}


@media (max-width: 650px) {
  .inner-container {
    margin: 0 5%;
  }
}


@media (max-width: 600px) {
  .inner-container {
    margin: auto 17px;
  }

  .title-container {
    flex-direction: column;
    margin-top: 21px;
  }

  .title {
    font-size: 28px;
    letter-spacing: -0.59px;
  }

  .title-divider {
    margin: 22px 0px 21px 0px;
  }

  .cart-btn-container {
    justify-content: flex-start;
  }

  .product-item {
    margin-top: 10px;
    flex-direction: column;
    max-height: 370px;
  }

  .product-image {
    object-fit: cover;
    max-width: 100%;
    min-height: 216px;
    max-height: 57.81%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: unset;
  }

  .product-details-container {
    margin: 25px 23px;
    width: unset;
    min-height: 108px;
  }

  .product-title {
    font-size: 21px;
    height: 23px;
    letter-spacing: -0.23px;
  }

  .product-price {
    font-size: 16px;
    height: 17px;
    letter-spacing: -0.2px;
  }

  .product-inventory {
    font-size: 12px;
    height: 14px;
    letter-spacing: 0px;
    padding-top: 9px; 
  }

  .primary-btn {
    width: 121px;
    height: 31px;
    font-size: 13px;
    letter-spacing: -0.14px;
  }

  .product-add-btn {
    margin: 26px 0px 6px 0px;
    padding: 0px;
    min-height: 31px;
  }

  .product-details-title-wrapper {
    min-height: 23px;
  }

  .product-details {
    min-height: 45px;
  }

  .modal {
    border-radius: unset;
    height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 18px 18px 0px 18px;
    border: unset;
    overflow-x: scroll;
  }

  #x-icon {
    height: 20px;
    width: 20px;
  }

  .cart {
    margin: unset;
    overflow-x: scroll;
    display: unset;
  }

  .cart-title {
    font-size: 28px;
    height: 32px;
    letter-spacing: -0.59px;
  }

  .cart-divider {
    margin-top: 21px;
  }

  .empty-cartmsg-container {
    margin: 120px 0px 0px 0px;
    justify-content: flex-start;
  }

  .empty-cartmsg-icon {
    height: 57px;
    width: 72px;
  }

  .empty-cartmsg-text {
    font-size: 16px;
    letter-spacing: -0.34px;
    line-height: 23px;
    max-width: 200px;
  }

  .cart-contents-container {
    flex-direction: column;
  }

  .cart-item-container {
    margin-right: unset;
    overflow: unset;
    flex: unset;
  }
  
  .cart-item {
    min-height: 138px;
    margin-bottom: 20px;
  }

  .cart-item-image {
    max-width: 107px;
    max-height: 78px;
  }

  .cart-item-title {
    font-size: 16px;
    letter-spacing: -0.17px;
  }

  .cart-item-price {
    font-size: 14px;
    letter-spacing: -0.18px; 
  }

  .cart-item-remove-btn {
    font-size: 14px;
  }

  .cart-checkout-container {
    margin-left: unset;
    flex: unset;
    margin-bottom: 40px;
  }

  .cart-summary-container {
    font-size: 14px;
    letter-spacing: -0.18px;
  }

  .cart-subtotal-container {
    border-top: 1px solid #E8E8E8;
  }

  #checkout-btn {
    display: none;
  }
  
  #checkout-btn-modal {
    display: initial;
    width: 100vw;
    margin-left: -18px;
    border-radius: unset;
    min-height: 44px;
  }
}
