div {
  width: 100%;
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  margin: 0 80px;
}

@media (max-width: 320px) {
  .container {
    max-width: 285px;
    width: 100%;
    padding: 17px;
  }
}

.title-container {
  margin: 55px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 51px;
  line-height: 44px;
  margin: 0px;
  min-width: 320px;
}

.cart-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 9px;
}

.cart-contents {
  padding-left: 8px;
  font-size: 14px;
}

.title-divider {
  margin: 34px 0px 0px 0px;
  height: 1px;
  background: #DADADA;
  border-bottom: 1px solid #DADADA;
}

.product-list {
  margin-bottom: 50px;
}

.product-item {
  display: flex;
  background: #ffffff;
  border-radius: 8px;

  margin-top: 29px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 37px 0px 0px 56px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details-title-wrapper {
  display: flex;
  align-items: center;
}

.product-title {
  font-size: 38px;
  height: 43px;
  letter-spacing: -.41;
}

.product-price {
  display: flex;
  justify-content: flex-end; 
  font-size: 21px;
  height: 23px;
  padding-right: 75px;
}

.product-inventory {
  height: 15px;
  font-size: 13px;
  color: #939393;
  padding-top: 19px;
  text-transform: uppercase;
}

.primary-btn {
  width: 139px;
  height: 41px;
  border-radius: 100px;
  background: #5E97D1;
  border-style: none;
  font-size: 14px;
  letter-spacing: -.15;
  color: #fff;
  text-transform: uppercase;
}

.primary-btn-disabled {
  width: 139px;
  height: 41px;
  border-radius: 100px;
  background: #5E97D1;
  border-style: none;
  font-size: 14px;
  letter-spacing: -.15;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.3;
}

.primary-btn:hover {
  background: #407FC0;
}